h1{
    text-transform: uppercase;
}
body{
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 0, 255, 0.9),
        rgba(0,0,0,0.9)
    ), 
    url(media/kid.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
img{
    filter: invert(1);
}